{
  "presets": ["@babel/preset-typescript", "@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "app": "./src/app",
          "auth": "./src/auth"
        }
      }
    ]
  ]
}
