{
  "presets": ["@babel/preset-typescript", "@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "app": "./src/app",
          "auth": "./src/auth",
          "config": "./src/config",
          "database": "./src/database",
          "email": "./src/email",
          "jwt": "./src/jwt",
          "middlewares": "./src/middlewares",
          "user": "./src/user",
          "utils": "./src/utils"
        }
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}
